@charset 'utf-8';

html,
body {
    height: 100%;
    min-height: 100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #37283c;
}
h1 {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 0.888;
}
body {
    font-family: $userfont;
    font-size: $fontsize;
    line-height: $lineheight;
    color: $textcolor;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    a {
        color: $color1;
    }
}
img {
    max-width: 100%;
}
.site-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.arrow-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    padding: 8px 5px 10px 58px;
    transition: 0.2s;
    position: relative;
    display: inline-block;
    vertical-align: top;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 34px;
        height: 34px;
        border: 1px solid transparent;
        background: #eaeaea;
        transition: 0.2s;
        content: '';
    }
    &:after {
        position: absolute;
        left: 22px;
        width: 25px;
        height: 8px;
        top: 12px;
        content: '';
        background: url("data:image/svg+xml,%3Csvg width='25' height='8' viewBox='0 0 25 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.3536 4.35356C24.5488 4.15829 24.5488 3.84171 24.3536 3.64645L21.1716 0.464468C20.9763 0.269206 20.6597 0.269206 20.4645 0.464468C20.2692 0.65973 20.2692 0.976313 20.4645 1.17157L23.2929 4L20.4645 6.82843C20.2692 7.02369 20.2692 7.34027 20.4645 7.53554C20.6597 7.7308 20.9763 7.7308 21.1716 7.53554L24.3536 4.35356ZM-4.37114e-08 4.5L24 4.5L24 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z' fill='%2337283C'/%3E%3C/svg%3E%0A")
            0 0 no-repeat;
        transition: 0.2s;
    }
    &:hover {
        color: #fc9f48;
        &:before {
            background: none;
            border-color: #d4d4d4;
        }
        &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='8' viewBox='0 0 25 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.3536 4.35356C24.5488 4.15829 24.5488 3.84171 24.3536 3.64645L21.1716 0.464468C20.9763 0.269206 20.6597 0.269206 20.4645 0.464468C20.2692 0.65973 20.2692 0.976313 20.4645 1.17157L23.2929 4L20.4645 6.82843C20.2692 7.02369 20.2692 7.34027 20.4645 7.53554C20.6597 7.7308 20.9763 7.7308 21.1716 7.53554L24.3536 4.35356ZM-4.37114e-08 4.5L24 4.5L24 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z' fill='%237D7D7D'/%3E%3C/svg%3E%0A");
            left: 26px;
        }
    }
}
