@charset 'utf-8';

@import '_formstyler';
@import '_lightgallery';

.category1 {
    flex-grow: 1;
    max-width: $containerWidth;
    width: 100%;
    margin: auto;
    @media all and (max-width: 1239px) {
        margin-left: 20px;
        margin-right: 20px;
        max-width: none;
        width: auto;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
        margin-right: -55px;
        .select-wrap {
            margin: 0 55px 32px 0;
        }
        @media all and (max-width: 700px) {
            justify-content: center;
            margin-right: 0;
            .select-wrap {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        @media all and (max-width: 580px) {
            flex-direction: column;
            .select-wrap {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 15px;
                .title {
                    min-width: 100px;
                }
                .jq-selectbox {
                    flex-grow: 1;
                }
            }
        }
    }
    &__titles {
        padding: 0 0 24px 481px;
        display: flex;
        justify-content: flex-start;
        .title {
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            width: 100px;
            margin-right: 58px;
            @media all and (max-width: 1070px) {
                font-size: 15px;
                margin-right: 30px;
                width: 90px;
            }
            @media all and (max-width: 930px) {
                font-size: 14px;
                margin-right: 20px;
                width: 80px;
            }
            @media all and (max-width: 760px) {
                font-size: 13px;
                margin-right: 15px;
                width: 70px;
            }
        }
        @media all and (max-width: 1070px) {
            padding-left: 412px;
        }
        @media all and (max-width: 930px) {
            padding-left: 326px;
        }
        @media all and (max-width: 760px) {
            padding-left: 352px;
        }
        @media all and (max-width: 680px) {
            display: none;
        }
    }
    &__products {
        padding-bottom: 43px;
    }
    &__product {
    }
    .product-wrap {
        padding-bottom: 24px;
    }
    .main-product {
        padding: 13px 38px 13px 12px;
        background: $color1;
        color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        @media all and (max-width: 1070px) {
            padding-right: 20px;
        }
        @media all and (max-width: 760px) {
            padding: 12px;
        }
        @media all and (max-width: 360px) {
            padding: 10px;
        }
        .image {
            min-width: 110px;
            max-width: 110px;
            margin-right: 26px;
            @media all and (max-width: 1070px) {
                min-width: 100px;
                max-width: 100px;
                margin-right: 20px;
            }
            @media all and (max-width: 930px) {
                min-width: 80px;
                max-width: 80px;
                margin-right: 15px;
            }
            @media all and (max-width: 760px) {
                min-width: 70px;
                max-width: 70px;
                margin-right: 10px;
            }
            @media all and (max-width: 680px) {
                min-width: 60px;
                max-width: 60px;
            }
            @media all and (max-width: 380px) {
                min-width: 50px;
                max-width: 50px;
            }
        }
        .title {
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            min-width: 280px;
            max-width: 280px;
            margin-right: 53px;
            @media all and (max-width: 1070px) {
                font-size: 15px;
                margin-right: 30px;
                min-width: 250px;
                max-width: 250px;
            }
            @media all and (max-width: 930px) {
                font-size: 14px;
                margin-right: 20px;
                min-width: 200px;
                max-width: 200px;
            }
            @media all and (max-width: 760px) {
                margin-right: auto;
            }
            @media all and (max-width: 380px) {
                font-size: 13px;
                min-width: 0;
                max-width: none;
            }
        }
        .amount {
            min-width: 100px;
            max-width: 100px;
            margin-right: 58px;
            font-size: 16px;
            line-height: 19px;
            &.amount3 {
                margin-right: auto;
            }
            @media all and (max-width: 1070px) {
                font-size: 15px;
                margin-right: 30px;
                min-width: 90px;
                max-width: 90px;
            }
            @media all and (max-width: 930px) {
                font-size: 14px;
                margin-right: 20px;
                min-width: 80px;
                max-width: 80px;
            }
            @media all and (max-width: 760px) {
                font-size: 13px;
                margin-right: 15px;
                min-width: 70px;
                max-width: 70px;
            }
            @media all and (max-width: 680px) {
                display: none;
            }
        }
        .price {
            color: #fc9f48;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            white-space: nowrap;
            @media all and (max-width: 1070px) {
                font-size: 17px;
            }
            @media all and (max-width: 930px) {
                font-size: 16px;
            }
            @media all and (max-width: 760px) {
                font-size: 15px;
            }
            @media all and (max-width: 680px) {
                margin-left: 15px;
            }
            @media all and (max-width: 360px) {
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }
    .group {
        margin-bottom: 8px;
        .main {
            display: flex;
            padding: 20px 60px 20px 24px;
            background: #eaeaea;
            align-items: flex-start;
            position: relative;
            cursor: pointer;
            &:before {
                position: absolute;
                content: '';
                width: 16px;
                height: 26px;
                top: 50%;
                margin-top: -13px;
                right: 34px;
                background: url("data:image/svg+xml,%3Csvg width='16' height='25' viewBox='0 0 16 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.292893C8.31658 -0.0976314 7.68342 -0.0976315 7.2929 0.292892L0.928934 6.65685C0.53841 7.04738 0.53841 7.68054 0.928934 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65686L8.70711 0.292893ZM9 25L9 1L7 1L7 25L9 25Z' fill='%2337283C'/%3E%3C/svg%3E%0A")
                    50% 50% no-repeat;
                transform: rotate(180deg);
                transition: 0.2s;
            }
            &:hover {
                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='25' viewBox='0 0 16 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.292893C8.31658 -0.0976314 7.68342 -0.0976315 7.2929 0.292892L0.928934 6.65685C0.53841 7.04738 0.53841 7.68054 0.928934 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65686L8.70711 0.292893ZM9 25L9 1L7 1L7 25L9 25Z' fill='%237C7C7C'/%3E%3C/svg%3E%0A");
                }
            }
            &.active:before {
                transform: none;
            }
            @media all and (max-width: 650px) {
                padding-left: 15px;
            }
            .name {
                font-size: 16px;
                line-height: 19px;
                font-weight: 700;
                min-width: 90px;
                max-width: 90px;
                margin-right: 10px;
                @media all and (max-width: 1220px) {
                    font-size: 15px;
                    min-width: 80px;
                    max-width: 80px;
                    letter-spacing: -0.3px;
                }
                @media all and (max-width: 540px) {
                    font-size: 14px;
                    min-width: 70px;
                    max-width: 70px;
                }
            }
            .size {
                min-width: 167px;
                max-width: 167px;
                margin-right: 30px;
                font-size: 16px;
                line-height: 19px;
                color: #7c7c7c;
                @media all and (max-width: 1220px) {
                    font-size: 15px;
                    letter-spacing: -0.3px;
                    margin-right: 20px;
                    min-width: 130px;
                    max-width: 130px;
                }
                @media all and (max-width: 540px) {
                    font-size: 14px;
                    margin-right: 10px;
                    min-width: 115px;
                    max-width: 115px;
                }
            }
            .treatment {
                font-size: 16px;
                line-height: 19px;
                color: #7c7c7c;
                min-width: 121px;
                max-width: 121px;
                margin-right: 38px;
                @media all and (max-width: 1220px) {
                    font-size: 15px;
                    letter-spacing: -0.3px;
                    margin-right: 20px;
                    min-width: 100px;
                    max-width: 100px;
                }
                @media all and (max-width: 650px) {
                    display: none;
                }
            }
            .amount {
                font-size: 16px;
                line-height: 19px;
                min-width: 100px;
                max-width: 100px;
                margin-right: 58px;
                .title {
                    color: #7c7c7c;
                    margin-bottom: 7px;
                }
                @media all and (max-width: 1220px) {
                    font-size: 15px;
                    letter-spacing: -0.3px;
                    margin-right: 20px;
                    min-width: 80px;
                    max-width: 80px;
                }
                @media all and (max-width: 1000px) {
                    display: none;
                }
            }
        }
        .items {
            display: none;
            border: 1px solid #d4d4d4;
            border-top: none;
            padding: 1px 15px;
            margin-bottom: 8px;
            @media all and (max-width: 540px) {
                padding-left: 10px;
                padding-right: 10px;
            }
            @media all and (max-width: 480px) {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
        .items-wrap {
            max-height: 409px;
            overflow: auto;
            margin: 17px 0;
            padding-right: 10px;
            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }
            &::-webkit-scrollbar-track {
                background: #c4c4c4;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background: #37283c;
            }
            @media all and (max-width: 1220px) {
                max-height: 378px;
            }
            @media all and (max-width: 540px) {
                max-height: 395px;
            }
            @media all and (max-width: 480px) {
                padding-right: 12px;
            }
        }
        .item {
            display: flex;
            padding: 17px 0;
            align-items: center;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
            & + .item {
                border-top: 1px solid #eaeaea;
                @media all and (max-width: 480px) {
                    border-top: none;
                }
            }
            .image {
                min-width: 109px;
                max-width: 109px;
                padding-right: 33px;
                cursor: pointer;
                @media all and (max-width: 1220px) {
                    min-width: 100px;
                    max-width: 100px;
                }
                @media all and (max-width: 540px) {
                    font-size: 14px;
                    min-width: 82px;
                    max-width: 82px;
                    padding-right: 10px;
                }
            }
            .size {
                min-width: 167px;
                max-width: 167px;
                margin-right: 30px;
                font-size: 16px;
                line-height: 19px;
                cursor: pointer;
                @media all and (max-width: 1220px) {
                    font-size: 15px;
                    letter-spacing: -0.3px;
                    margin-right: 20px;
                    min-width: 130px;
                    max-width: 130px;
                }
                @media all and (max-width: 540px) {
                    font-size: 14px;
                    margin-right: 10px;
                    min-width: 115px;
                    max-width: 115px;
                }
            }
            .treatment {
                font-size: 16px;
                line-height: 19px;
                min-width: 121px;
                max-width: 121px;
                margin-right: 38px;
                @media all and (max-width: 1220px) {
                    font-size: 15px;
                    letter-spacing: -0.3px;
                    margin-right: 20px;
                    min-width: 100px;
                    max-width: 100px;
                }
                @media all and (max-width: 650px) {
                    display: none;
                }
            }
            .amount {
                font-size: 16px;
                line-height: 19px;
                min-width: 100px;
                max-width: 100px;
                margin-right: 58px;
                .title {
                    margin-bottom: 7px;
                }
                &.amount3 {
                    margin-right: auto;
                }
                @media all and (max-width: 1220px) {
                    font-size: 15px;
                    letter-spacing: -0.3px;
                    margin-right: 20px;
                    min-width: 80px;
                    max-width: 80px;
                }
                @media all and (max-width: 1000px) {
                    display: none;
                }
            }
            .price {
                font-size: 18px;
                line-height: 22px;
                text-align: right;
                font-weight: 600;
                color: #fc9f48;
                white-space: nowrap;
                .old {
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 17px;
                    margin-bottom: 8px;
                    color: #000;
                    text-decoration: line-through;
                }
                @media all and (max-width: 1220px) {
                    font-size: 17px;
                    letter-spacing: -0.3px;
                }
                @media all and (max-width: 1000px) {
                    margin-left: auto;
                }
                @media all and (max-width: 480px) {
                    font-size: 16px;
                    .old {
                        margin-bottom: 2px;
                    }
                }
            }
            .compare {
                border: 1px solid #a0a3bd;
                background: #a0a3bd;
                cursor: pointer;
                min-width: 46px;
                min-height: 46px;
                margin-left: 67px;
                display: flex;
                transition: 0.2s;
                svg {
                    margin: auto;
                    stroke: #fff;
                }
                &:hover {
                    background: none;
                    svg {
                        stroke: #a0a3bd;
                    }
                }
                @media all and (max-width: 1220px) {
                    margin-left: 20px;
                }
                @media all and (max-width: 480px) {
                    min-width: 32px;
                    min-height: 32px;
                    margin-left: 10px;
                }
            }
            .buy-button {
                margin-left: 8px;
                @media all and (max-width: 480px) {
                    min-width: 32px;
                    min-height: 32px;
                    background-size: 19px;
                }
            }
        }
    }
}

.product_popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    direction: ltr;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .title {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin: 0 0 20px;
        color: #333;
    }
    &-div {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 0;
        opacity: 0.75;
    }
    &-scrolling {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        padding: 45px 15px 15px;
        overflow: auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: flex-start;
        -ms-flex-align: start;
        box-sizing: border-box;
        @media all and (max-width: 1239px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &-wrap {
        position: relative;
        box-sizing: border-box;
        max-width: 100%;
        flex: 0 0 auto;
        margin: auto;
    }
    &-body {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
        position: relative;
        display: inline-block;
        max-width: $containerWidth;
        min-width: $containerWidth;
        box-sizing: border-box;
        vertical-align: middle;
        background: #fff;
        text-align: left;
        @media all and (max-width: 1239px) {
            max-width: 100%;
            min-width: 100%;
        }
        &.withform {
            max-width: 423px;
            min-width: 423px;
            @media all and (max-width: 460px) {
                max-width: 100%;
                min-width: 100%;
            }
        }
    }
    &-close {
        position: absolute;
        top: -40px;
        right: 5px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18.7742 18.7742' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 18.7742L18.7742 5.99998' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
            50% 50% no-repeat;
        z-index: 10;
        cursor: pointer;
        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18.7742 18.7742' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 18.7742L18.7742 5.99998' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
    .form {
        padding: 29px 49px 32px;
        @media all and (max-width: 460px) {
            padding: 20px 20px 5px;
        }
        &__title {
            text-align: center;
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            margin-bottom: 10px;
            color: $color1;
        }
        &__price {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 23px;
            & > span {
                color: #fc9f48;
                font-size: 18px;
                font-weight: 600;
            }
        }
        &__field {
            margin-bottom: 11px;
            input[type='text'],
            input[type='tel'],
            input[type='email'],
            textarea {
                border: 1px solid #bdbdbd;
                font-size: 14px;
                line-height: 1;
                width: 100%;
                padding: 15px 16px;
                font-family: $proxima;
                color: #000;
                outline: none;
                &::placeholder {
                    color: #7c7c7c;
                }
                &:focus {
                    border-color: $color1;
                }
            }
            textarea {
                height: 124px;
                resize: none;
            }
            button[type='submit'] {
                border: 1px solid $color1;
                color: #fff;
                background: $color1;
                font-size: 16px;
                line-height: 1;
                width: 100%;
                text-align: center;
                padding: 15px 10px 17px;
                cursor: pointer;
                outline: none;
                transition: 0.2s;
                font-family: $proxima;
                &:hover {
                    background: none;
                    color: $color1;
                }
            }
        }
        &__checkbox {
            padding-bottom: 13px;
            display: block;
            input[type='checkbox'] {
                opacity: 0;
                position: relative;
                top: 18px;
                left: -3px;
                &:checked + span:before {
                    background: #fc9f48;
                }
            }
            span {
                display: block;
                font-size: 13px;
                line-height: 16px;
                position: relative;
                padding: 0 0 0 24px;
                cursor: pointer;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 1px;
                    content: '';
                    width: 13px;
                    height: 13px;
                    transition: 0.2s;
                    border: 3px solid #fff;
                    box-shadow: 0 0 0 1px #a0a3bd;
                }
            }
        }
        &__note {
            font-size: 14px;
            line-height: 16px;
            font-style: italic;
            color: #a0a3bd;
            position: relative;
            padding: 0 0 0 15px;
            &:before {
                position: absolute;
                left: 0;
                top: 6px;
                content: '';
                border-radius: 50%;
                width: 3px;
                height: 3px;
                background: #a0a3bd;
            }
        }
    }
    .product-view {
        display: flex;
        padding: 37px 61px 42px 30px;
        @media all and (max-width: 1239px) {
            padding: 30px;
        }
        @media all and (max-width: 990px) {
            padding: 20px;
        }
        @media all and (max-width: 960px) {
            padding: 20px;
            flex-direction: column;
        }
        .left {
            border: 1px solid #eaeaea;
            padding: 70px 55px 36px 30px;
            position: relative;
            min-width: 528px;
            max-width: 528px;
            display: flex;
            @media all and (max-width: 1239px) {
                min-width: 450px;
                max-width: 450px;
                padding: 50px 50px 36px 30px;
            }
            @media all and (max-width: 990px) {
                padding: 50px 36px 36px 20px;
            }
            @media all and (max-width: 960px) {
                min-width: 0;
                max-width: none;
                padding: 50px 25px 25px;
                .labels {
                    right: 0;
                    left: 0;
                    .label {
                        margin: 0 0 7px 7px;
                        letter-spacing: -0.3px;
                        width: 70px;
                    }
                }
            }
            &:before {
                position: absolute;
                right: 10px;
                pointer-events: none;
                bottom: 10px;
                content: '';
                width: 24px;
                height: 24px;
                transition: 0.2s;
                background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2142 3.64899L20.4886 3.64899L20.4886 8.93983' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.5117 4.51208L14.5001 9.52405' stroke='%2314142B' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M20.37 14.7142L20.3695 19.9887L15.0787 19.9882' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.5069 19.012L14.5001 14.5' stroke='%2314142B' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8.91181 20.0115L3.63738 20.0115L3.63738 14.7207' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.61572 18.9109L9.5 14.5' stroke='%2314142B' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M3.62901 8.9154L3.62951 3.64096L8.92034 3.64146' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.72998 4.61963L9.61035 9.49976' stroke='%2314142B' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
                    50% 50% no-repeat;
                @media all and (max-width: 960px) {
                    right: 2px;
                    bottom: 2px;
                }
            }
            img {
                cursor: pointer;
                margin: auto;
            }
            &:hover:before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2142 3.64899L20.4886 3.64899L20.4886 8.93983' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.5117 4.51208L14.5001 9.52405' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M20.37 14.7142L20.3695 19.9887L15.0787 19.9882' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.5069 19.012L14.5001 14.5' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8.91181 20.0115L3.63738 20.0115L3.63738 14.7207' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.61572 18.9109L9.5 14.5' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M3.62901 8.9154L3.62951 3.64096L8.92034 3.64146' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.72998 4.61963L9.61035 9.49976' stroke='%23A0A3BD' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }
        }
        .middle {
            padding: 0 35px 0 20px;
            flex-grow: 1;
            border-right: 1px solid #eaeaea;
            display: flex;
            flex-direction: column;
            @media all and (max-width: 1239px) {
                padding-right: 20px;
            }
            @media all and (max-width: 960px) {
                padding: 20px 0;
                border-right: none;
                border-bottom: 1px solid #eaeaea;
            }
        }
        .right {
            min-width: 166px;
            max-width: 166px;
            margin-left: 46px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            @media all and (max-width: 1239px) {
                margin-left: 30px;
            }
            @media all and (max-width: 990px) {
                margin-left: 20px;
            }
            @media all and (max-width: 960px) {
                padding: 20px 0 0;
                max-width: none;
                margin: 0;
            }
        }
        .price {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            margin-bottom: 35px;
            color: #fc9f48;
        }
        .labels {
            top: 14px;
            right: 14px;
            left: auto;
            .label {
                margin: 0 0 13px 13px;
            }
        }
        .amount {
            font-size: 14px;
            line-height: 20px;
            color: #a0a3bd;
            margin-bottom: 8px;
            & > span {
                color: #000;
            }
        }
        .check-amount {
            margin: 23px 0 10px;
            display: flex;
            background: #ededed;
            min-height: 42px;
            button {
                min-width: 32px;
                padding: 0;
                cursor: pointer;
                outline: none;
                border: none;
                font-size: 0;
                transition: 0.2s;
                background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.625 6.5L11.375 6.5' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                    50% 50% no-repeat;
                &.plus {
                    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 1.5V10.5' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.625 6L11.375 6' stroke='%2314142B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                }
                &:hover {
                    opacity: 0.6;
                }
            }
            & > div {
                display: flex;
                align-self: center;
                align-items: baseline;
                flex-grow: 1;
                position: relative;
                min-height: 100%;
                input {
                    position: absolute;
                    left: 0;
                    width: 50%;
                    border: none;
                    background: none;
                    outline: none;
                    padding: 0 3px 0 0;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1;
                    text-align: right;
                    color: #000;
                    top: 0;
                    bottom: 0;
                }
                span {
                    position: absolute;
                    top: 1px;
                    bottom: 0;
                    left: 50%;
                    width: 50%;
                    text-align: left;
                    padding: 0 0 0 3px;
                    font-size: 14px;
                    line-height: 1;
                    color: #000;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .buy-button {
            background-position: 11px 50%;
            padding: 0 30px 0 40px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            line-height: 44px;
            margin-bottom: 21px;
            &:hover {
                color: $color1;
            }
        }
        .compare {
            cursor: pointer;
            font-size: 16px;
            line-height: 1;
            display: flex;
            justify-content: center;
            transition: 0.2s;
            margin-bottom: 31px;
            &:before {
                transition: 0.2s;
                width: 17px;
                height: 18px;
                position: relative;
                top: -3px;
                margin-right: 15px;
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='18' x2='1' y2='8' stroke='black' stroke-width='2'/%3E%3Cline x1='11' y1='18' x2='11' y2='6' stroke='black' stroke-width='2'/%3E%3Cline x1='6' y1='18' x2='6' y2='4.37114e-08' stroke='black' stroke-width='2'/%3E%3Cline x1='16' y1='18' x2='16' y2='12' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
                    0 0 no-repeat;
            }
            &:hover {
                color: #a0a3bd;
                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='18' x2='1' y2='8' stroke='%23a0a3bd' stroke-width='2'/%3E%3Cline x1='11' y1='18' x2='11' y2='6' stroke='%23a0a3bd' stroke-width='2'/%3E%3Cline x1='6' y1='18' x2='6' y2='4.37114e-08' stroke='%23a0a3bd' stroke-width='2'/%3E%3Cline x1='16' y1='18' x2='16' y2='12' stroke='%23a0a3bd' stroke-width='2'/%3E%3C/svg%3E%0A");
                }
            }
        }
        .note {
            color: #a0a3bd;
            font-size: 12px;
            line-height: 16px;
            text-align: left;
            padding: 0 0 0 12px;
            font-style: italic;
            position: relative;
            margin-left: 5px;
            &:before {
                position: absolute;
                left: 0;
                top: 6px;
                content: '';
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: #a0a3bd;
            }
        }
        .name {
            margin: 2px 0 29px;
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            @media all and (max-width: 990px) {
                font-size: 20px;
                line-height: 1.3;
            }
        }
        .options {
            &__item {
                display: flex;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 12px;
                &.bold {
                    font-weight: bold;
                    .options__empty {
                        background-size: 5px;
                        background-position: left 0 bottom 5px;
                    }
                }
            }
            &__empty {
                margin: 0 4px;
                flex-grow: 1;
                background: url(../images/dist/dot.svg) left 0 bottom 6px / 4px
                    repeat-x;
            }
        }
        .button {
            margin-top: auto;
            a {
                padding: 0 0 0 58px;
                display: flex;
                align-items: center;
                min-height: 45px;
                background: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.7431 21.8794L23.122 0.25832C22.7787 -0.0848047 22.2224 -0.0848047 21.879 0.25832L0.257898 21.8794C-0.0853149 22.2226 -0.0853149 22.7791 0.257898 23.1224L21.879 44.7435C22.2223 45.0868 22.7787 45.0868 23.122 44.7435L44.7431 23.1224C45.0863 22.7791 45.0863 22.2226 44.7431 21.8794ZM36.9309 22.8729C38.4941 25.3043 34.7201 25.6682 35.2274 30.1521L29.1817 36.1979C28.9369 33.931 30.3124 32.0459 31.221 30.5308C33.5448 26.6295 33.5919 24.1343 33.6298 22.1294C33.652 20.9528 33.6713 19.9368 34.1487 18.8132C34.6307 17.6789 35.4444 16.8262 36.3018 15.9241L37.7789 17.4012C36.2771 18.9897 35.785 20.9204 36.9309 22.8729ZM22.5005 2.12283L25.3217 4.94403C24.2387 5.86987 22.9399 6.43255 21.3749 6.65711C20.4383 6.79158 19.3846 6.51367 18.4652 6.15807L22.5005 2.12283ZM16.1818 36.5603L13.7394 34.1179C15.4518 33.1061 17.1457 32.9375 17.9469 30.0348C18.0667 29.5643 17.7824 29.0859 17.312 28.9662C16.8412 28.8462 16.3631 29.1307 16.2434 29.601C15.7201 31.8163 13.9752 31.7318 12.475 32.8535L10.172 30.5505C12.4997 29.3127 15.4029 28.4937 16.5543 25.9306C16.7457 25.5031 16.9345 25.051 17.1171 24.614C17.9337 22.6586 18.7781 20.6366 20.3051 19.537C20.9654 19.0616 21.7009 19.0877 22.0306 19.3879C22.4015 19.7254 22.08 20.3787 21.9245 20.644C20.108 23.7443 19.8751 27.7793 19.8751 30.9481C19.9251 34.392 17.8947 34.3774 16.1818 36.5603ZM22.5005 42.8789L17.4311 37.8096C17.9779 37.119 18.544 36.6478 19.0951 36.1891C20.4002 35.1029 21.6329 34.077 21.6329 30.948C21.6329 28.0013 21.8385 24.2679 23.4412 21.5325C25.3074 18.2566 21.7599 16.2944 19.2781 18.1104C16.9472 19.8083 16.0568 22.7323 14.95 25.212C14.0338 27.2617 10.8886 28.0492 8.87848 29.257L4.85968 25.2381C6.92317 24.11 9.82198 23.3477 11.352 21.7775C12.0103 21.0972 12.6134 20.2451 13.1747 19.4309C13.4503 19.0311 13.3496 18.4839 12.9499 18.2084C12.5501 17.9329 12.0028 18.0336 11.7275 18.4332C11.2079 19.1869 10.6535 19.9715 10.0886 20.5553C8.6221 21.9685 5.51332 22.7487 3.5661 23.9447L2.12241 22.5009L17.1214 7.50191C18.1808 7.97195 19.5308 8.44876 20.8803 8.44876C23.0196 8.37247 25.0637 7.50895 26.5671 6.18936L29.051 8.67332C25.5349 10.5137 23.3822 9.02831 19.7048 10.783C18.7948 11.203 17.9272 11.7128 17.126 12.2985C16.7341 12.585 16.6486 13.1348 16.9351 13.5267C17.2233 13.9211 17.7754 14.0022 18.1633 13.7176C23.1372 10.0319 25.4368 12.8159 30.3417 9.96391L35.0585 14.6807C34.1157 15.6732 33.1462 16.6801 32.5311 18.1256C31.9202 19.5628 31.8969 20.7934 31.8723 22.0962C31.8367 23.9871 31.7961 26.1302 29.7108 29.6311C28.5631 31.5448 26.5872 34.2813 27.7317 37.6478L22.5005 42.8789ZM37.0812 28.2983C37.2778 27.6081 37.6525 27.0878 38.0394 26.5508C41.1463 22.5994 36.0889 21.8608 39.0231 18.6456L42.8786 22.5009L37.0812 28.2983Z' fill='%23A0A3BD'/%3E%3Cpath d='M14.7806 14.8563C14.295 14.8559 13.9014 15.2496 13.9014 15.7352C13.9446 16.8995 15.6166 16.8997 15.6595 15.7352C15.6595 15.2499 15.266 14.8563 14.7806 14.8563Z' fill='%23A0A3BD'/%3E%3C/svg%3E%0A")
                    0 0 no-repeat;
                max-width: 200px;
                font-size: 16px;
                line-height: 1;
                font-weight: 600;
                color: #000;
                transition: 0.2s;
                &:hover {
                    color: #fc9f48;
                }
            }
        }
    }
}
