@charset 'utf-8';

.footer {
    border-top: 8px solid #fff;
    background: $color1;
    @media all and (max-width: 480px) {
        border-top: none;
    }
    &__container {
        max-width: $containerWidth;
        margin: auto;
        padding: 30px 0;
        display: flex;
        align-items: center;
        @media all and (max-width: 1239px) {
            padding-left: 20px;
            padding-right: 20px;
            max-width: none;
        }
        @media all and (max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media all and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        @media all and (max-width: 360px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        min-width: 280px;
        max-width: 280px;
        margin-right: 18px;
        font-size: 0;
        text-decoration: none;
        img {
            margin-right: 2px;
        }
        &--text {
            font-size: 19px;
            line-height: 23px;
            font-weight: 600;
            color: #fff;
        }
        @media all and (max-width: 1200px) {
            margin-right: auto;
            margin-bottom: 40px;
        }
        @media all and (max-width: 840px) {
            min-width: 280px;
            max-width: 280px;
        }
        @media all and (max-width: 640px) {
            margin-right: 0;
            margin-left: 0;
        }
        @media all and (max-width: 360px) {
            min-width: 100%;
            max-width: none;
        }
    }
    &__menu {
        margin: 0 40px 0 0;
        padding: 0;
        list-style: none;
        min-width: 240px;
        max-width: 240px;
        & > li {
            display: block;
            &:not(:last-child) {
                margin-bottom: 7px;
                @media all and (max-width: 640px) {
                    margin-bottom: 16px;
                }
                @media all and (max-width: 360px) {
                    margin-bottom: 11px;
                }
            }
            & > a {
                display: inline-block;
                vertical-align: top;
                color: #fff;
                font-size: 12px;
                text-decoration: none;
            }
            &:hover > a {
                text-decoration: underline;
            }
        }
        @media all and (max-width: 1200px) {
            min-width: 300px;
            max-width: 300px;
            margin-bottom: 40px;
        }
        @media all and (max-width: 960px) {
            margin-left: auto;
            margin-right: 0;
            min-width: 400px;
            max-width: 400px;
            text-align: right;
        }
        @media all and (max-width: 840px) {
            min-width: 280px;
            max-width: 280px;
        }
        @media all and (max-width: 640px) {
            margin-left: 0;
            margin-right: 0;
            text-align: center;
        }
        @media all and (max-width: 360px) {
            text-align: left;
            max-width: none;
            min-width: 100%;
        }
    }
    &__contacts {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 300px;
        margin-right: auto;
        &--address {
            padding: 0 0 20px 21px;
            font-size: 12px;
            line-height: 18px;
            color: #fff;
            background: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 0C2.60363 0 0.654053 1.94958 0.654053 4.34592C0.654053 7.31986 4.54325 11.6858 4.70883 11.8702C4.86436 12.0434 5.13591 12.0431 5.29116 11.8702C5.45675 11.6858 9.34594 7.31986 9.34594 4.34592C9.34589 1.94958 7.39634 0 5 0ZM5 6.53248C3.79433 6.53248 2.81347 5.55159 2.81347 4.34592C2.81347 3.14025 3.79435 2.15939 5 2.15939C6.20565 2.15939 7.1865 3.14027 7.1865 4.34594C7.1865 5.55162 6.20565 6.53248 5 6.53248Z' fill='white'/%3E%3C/svg%3E%0A")
                0 1px no-repeat;
        }
        &--social {
            margin-top: auto;
            font-size: 0;
            padding-left: 13px;
            a {
                margin-left: 8px;
                transition: 0.2s;
                &:hover {
                    opacity: 0.7;
                }
                @media all and (max-width: 360px) {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            @media all and (max-width: 360px) {
                padding-left: 0;
            }
        }
        @media all and (max-width: 1200px) {
            min-width: 300px;
            max-width: 300px;
            margin-bottom: 40px;
        }
        @media all and (max-width: 960px) {
            margin: 0 auto 0 0;
            min-width: 400px;
            max-width: 400px;
        }
        @media all and (max-width: 840px) {
            min-width: 300px;
            max-width: 300px;
        }
        @media all and (max-width: 640px) {
            align-items: center;
            margin-left: auto;
            margin-bottom: 40px;
        }
        @media all and (max-width: 360px) {
            max-width: none;
            min-width: 100%;
            align-items: flex-start;
        }
    }
    &__info {
        min-width: 260px;
        max-width: 260px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        &--phones {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 0 0 10px 24px;
            background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.96907 7.03101C3.82369 5.88563 3.56507 4.74025 3.50672 4.28135C3.49042 4.15446 3.53408 4.02722 3.62486 3.93707L4.55176 3.01059C4.6881 2.87433 4.7123 2.66197 4.6101 2.49852L3.13431 0.206936C3.02124 0.0259525 2.78909 -0.0393661 2.59824 0.0561079L0.229066 1.1719C0.0747329 1.2479 -0.0160435 1.41187 0.0014793 1.583C0.125617 2.76232 0.639755 5.66135 3.48872 8.51052C6.33769 11.3597 9.23631 11.8736 10.4162 11.9978C10.5874 12.0153 10.7513 11.9245 10.8273 11.7702L11.9431 9.40101C12.0383 9.21057 11.9734 8.97904 11.7931 8.86577L9.50155 7.39039C9.3382 7.28808 9.12585 7.3121 8.98948 7.44832L8.063 8.37521C7.97286 8.46599 7.84561 8.50965 7.71872 8.49335C7.25983 8.43501 6.11445 8.17639 4.96907 7.03101Z' fill='white'/%3E%3Cpath d='M9.51728 6.41367C9.28874 6.41367 9.10348 6.22841 9.10348 5.99988C9.10154 4.2867 7.71322 2.89837 6.00004 2.89643C5.7715 2.89643 5.58624 2.71117 5.58624 2.48264C5.58624 2.25411 5.7715 2.06885 6.00004 2.06885C8.17009 2.07124 9.92867 3.82982 9.93107 5.99988C9.93107 6.22841 9.74581 6.41367 9.51728 6.41367Z' fill='white'/%3E%3Cpath d='M11.5862 6.41379C11.3577 6.41379 11.1724 6.22853 11.1724 6C11.1693 3.14468 8.85536 0.830779 6.00004 0.827586C5.7715 0.827586 5.58624 0.642325 5.58624 0.413793C5.58624 0.185261 5.7715 0 6.00004 0C9.31223 0.0036488 11.9964 2.6878 12 6C12 6.10975 11.9564 6.215 11.8788 6.2926C11.8012 6.3702 11.696 6.41379 11.5862 6.41379Z' fill='white'/%3E%3C/svg%3E%0A")
                0 3px no-repeat;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
        &--email {
            font-size: 12px;
            padding: 0 0 20px 24px;
            background: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9911 1.58517C11.9911 1.57146 12.0006 1.55811 11.9999 1.54456L8.33795 5.07308L11.9956 8.48888C11.9977 8.46448 11.9911 8.43988 11.9911 8.41496V1.58517Z' fill='white'/%3E%3Cpath d='M7.77899 5.61621L6.28406 7.05452C6.20841 7.1273 6.11071 7.1638 6.01295 7.1638C5.91723 7.1638 5.82151 7.12887 5.74639 7.05885L4.25552 5.6696L0.574036 9.21814C0.663552 9.25031 0.759638 9.27528 0.860259 9.27528H11.1657C11.3151 9.27528 11.4553 9.22977 11.5771 9.16189L7.77899 5.61621Z' fill='white'/%3E%3Cpath d='M6.00865 6.23422L11.5974 0.850674C11.4708 0.775443 11.3235 0.724976 11.1657 0.724976H0.860224C0.654654 0.724976 0.466289 0.804795 0.31958 0.926531L6.00865 6.23422Z' fill='white'/%3E%3Cpath d='M0 1.71631V8.41487C0 8.49177 0.0176739 8.56591 0.0368597 8.63676L3.67268 5.13555L0 1.71631Z' fill='white'/%3E%3C/svg%3E%0A")
                0 4px no-repeat;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
        &--copyright {
            margin-top: auto;
            font-size: 12px;
            margin-bottom: 5px;
            color: #7d7d7d;
            text-align: right;
        }
        &--copyright1 {
            font-size: 12px;
            color: #7d7d7d;
            text-align: right;
            a {
                color: #7d7d7d;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        @media all and (max-width: 1200px) {
            min-width: 300px;
            max-width: 300px;
            margin-right: auto;
            text-align: center;
            align-items: center;
        }
        @media all and (max-width: 960px) {
            margin-left: auto;
            margin-right: 0;
            min-width: 400px;
            max-width: 400px;
            text-align: right;
            align-items: flex-end;
        }
        @media all and (max-width: 840px) {
            min-width: 260px;
            max-width: 260px;
        }
        @media all and (max-width: 640px) {
            align-items: center;
            margin-right: auto;
        }
        @media all and (max-width: 360px) {
            min-width: 100%;
            max-width: none;
            align-items: flex-start;
        }
    }
}
