@charset 'utf-8';

$block: '.header';

#{$block} {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    &.inner {
        position: relative;
        z-index: 3;
        margin-bottom: 16px;
        #{$block}__logo--text,
        #{$block}__menu > li > a,
        #{$block}__phones,
        #{$block}__phones a,
        #{$block}__email a {
            color: #000;
        }
    }
    &__inner {
        max-width: $containerWidth;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        @media all and (max-width: 1239px) {
            margin-left: 20px;
            margin-right: 20px;
        }
        @media all and (max-width: 480px) {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        min-width: 280px;
        max-width: 280px;
        margin-right: 25px;
        padding-top: 7px;
        font-size: 0;
        text-decoration: none;
        img {
            margin-right: 2px;
        }
        &--text {
            font-size: 19px;
            line-height: 23px;
            font-weight: 600;
            color: #fff;
        }
        @media all and (max-width: 1239px) {
            margin-top: 42px;
            padding-top: 0;
            min-width: 230px;
            max-width: 230px;
            img {
                max-height: 55px;
                margin-right: 10px;
            }
        }
        @media all and (max-width: 480px) {
            min-width: 160px;
            max-width: 160px;
            margin-right: auto;
            &--text {
                font-size: 11px;
                line-height: 13px;
            }
            img {
                margin-right: 2px;
            }
        }
    }
    &__right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        @media all and (max-width: 1239px) {
            margin-top: 45px;
        }
        @media all and (max-width: 480px) {
            align-items: flex-end;
        }
    }
    &__top {
        background: $color1;
        display: flex;
        padding: 8px 0;
        margin-bottom: 11px;
        @media all and (max-width: 1239px) {
            min-height: 55px;
            justify-content: flex-end;
            margin-bottom: 0;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
    }
    &__categories {
        margin: 0 auto 0 0;
        padding: 0 0 0 4px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        & > li {
            margin-right: 4px;
            & > a {
                text-decoration: none;
                color: #fff;
                padding: 16px 18px;
                font-size: 16px;
                line-height: 1;
                position: relative;
                display: block;
                transition: 0.2s;
                &:before {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    content: '';
                    width: 11px;
                    background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.1257 5.47064C4.7254 5.99064 3.94119 5.99064 3.54089 5.47063L0.953864 2.10999C0.447668 1.45242 0.916433 0.499999 1.74627 0.499999L6.92032 0.5C7.75016 0.5 8.21892 1.45242 7.71272 2.10999L5.1257 5.47064Z' fill='white' fill-opacity='0.33'/%3E%3C/svg%3E%0A")
                        0 50% no-repeat;
                }
            }
            &:hover > a {
                color: #a0a3bd;
            }
            // & > *[href]:last-child:before {
            //     display: none;
            // }
        }
        @media all and (max-width: 1239px) {
            display: none;
        }
    }
    &__search {
        display: flex;
        margin: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.14);
        border-right: 1px solid rgba(255, 255, 255, 0.14);
        min-width: 240px;
        max-width: 240px;
        justify-content: flex-end;
        transition: 0.2s;
        position: relative;
        &:before {
            border-left: transparent;
            border-right: transparent;
        }
        &:hover {
            input[type='text'] {
                background: #fff;
                color: #000;
                min-width: 325px;
                max-width: 325px;
                &::placeholder {
                    color: #000;
                }
            }
            button[type='reset'] {
                background: #fff;
                min-width: 35px;
                max-width: 35px;
                padding: 10px;
                margin: 0;
            }
            button[type='submit'] {
                background: #fff;
                padding: 0;
                margin: 0;
                &:before {
                    border-color: #eaeaea;
                }
                svg {
                    stroke: #14142a;
                }
            }
        }
        input[type='text'] {
            border: none;
            outline: none;
            background: none;
            padding: 0 10px 0 19px;
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 14px;
            color: #d4d4d450;
            transition: 0.2s;
            min-width: 195px;
            max-width: 195px;
            margin: 0;
            &::placeholder {
                color: #d4d4d450;
            }
            &:focus {
                background: #fff;
                color: #000;
                min-width: 325px;
                max-width: 325px;
                &::placeholder {
                    color: #000;
                }
                & ~ button[type='reset'] {
                    background: #fff;
                    min-width: 35px;
                    max-width: 35px;
                    padding: 10px;
                }
                & ~ button[type='submit'] {
                    background: #fff;
                    padding: 0;
                    &:before {
                        border-color: #eaeaea;
                    }
                    svg {
                        stroke: #14142a;
                    }
                }
            }
        }
        button[type='reset'] {
            background: none;
            border: none;
            outline: none;
            padding: 0;
            min-width: 0;
            max-width: 0;
            overflow: hidden;
            transition: 0.2s;
            cursor: pointer;
            svg {
                stroke: #a0a3bd;
            }
        }
        button[type='submit'] {
            background: none;
            border: none;
            outline: none;
            padding: 0 10px 0 0;
            transition: 0.2s;
            min-width: 44px;
            max-width: 44px;
            position: relative;
            cursor: pointer;
            &:before {
                position: absolute;
                left: 0;
                top: 7px;
                bottom: 7px;
                content: '';
                border-left: 1px solid transparent;
                transition: 0.2s;
            }
            svg {
                transition: 0.2s;
                stroke: #fcfcfc;
            }
        }
        @media all and (max-width: 940px) {
            display: none;
        }
    }
    &__cart {
        display: none;
        min-width: 63px;
        border-left: 1px solid #544759;
        border-right: 1px solid #544759;
        cursor: pointer;
        svg {
            margin: auto;
        }
        @media all and (max-width: 1239px) {
            display: flex;
        }
        @media all and (max-width: 360px) {
            min-width: 54px;
            max-width: 54px;
        }
        @media all and (max-width: 340px) {
            min-width: 48px;
            max-width: 48px;
        }
    }
    &__compare {
        min-width: 66px;
        max-width: 66px;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        text-decoration: none;
        .text {
            position: absolute;
            top: 0;
            left: 50%;
            border-radius: 18px;
            transition: 0.2s;
            text-align: center;
            font-weight: 600;
            width: 24px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            color: #000;
            background: #fff;
        }
        svg {
            stroke: #fff;
            transition: 0.2s;
        }
        &:hover {
            .text {
                background: #a0a3bd;
            }
            svg {
                stroke: #a0a3bd;
            }
        }
        @media all and (max-width: 1239px) {
            .text {
                display: none;
            }
        }
        @media all and (max-width: 360px) {
            min-width: 54px;
            max-width: 54px;
        }
        @media all and (max-width: 340px) {
            min-width: 48px;
            max-width: 48px;
        }
    }
    &__menu-toggle {
        min-width: 63px;
        cursor: pointer;
        display: none;
        transition: 0.1s;
        background: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='24' y2='1' stroke='white' stroke-width='2'/%3E%3Cline y1='11' x2='24' y2='11' stroke='white' stroke-width='2'/%3E%3Cline y1='21' x2='24' y2='21' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A")
            50% 50% no-repeat;
        &.active {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1047 10.0008L19.7709 1.33445C20.0761 1.02933 20.0761 0.534647 19.7709 0.22957C19.4658 -0.0755077 18.9711 -0.0755467 18.6661 0.22957L9.99975 8.89588L1.33347 0.22957C1.02836 -0.0755467 0.533671 -0.0755467 0.228593 0.22957C-0.0764842 0.534686 -0.0765233 1.02937 0.228593 1.33445L8.89487 10.0007L0.228593 18.667C-0.0765233 18.9722 -0.0765233 19.4668 0.228593 19.7719C0.381132 19.9245 0.581093 20.0007 0.781053 20.0007C0.981014 20.0007 1.18094 19.9245 1.33351 19.7719L9.99975 11.1056L18.666 19.7719C18.8186 19.9245 19.0185 20.0007 19.2185 20.0007C19.4184 20.0007 19.6184 19.9245 19.7709 19.7719C20.0761 19.4668 20.0761 18.9721 19.7709 18.667L11.1047 10.0008Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        @media all and (max-width: 1239px) {
            display: flex;
        }
        @media all and (max-width: 360px) {
            min-width: 54px;
            max-width: 54px;
        }
        @media all and (max-width: 340px) {
            min-width: 48px;
            max-width: 48px;
        }
    }
    &__menu-toggle.active + &__menu-mobile {
        opacity: 1;
        visibility: visible;
    }
    &__menu-mobile {
        position: absolute;
        right: 20px;
        top: 110px;
        width: 291px;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
        background: #fff;
        display: none;
        opacity: 0;
        visibility: hidden;
        margin: 0;
        padding: 2px 15px 20px;
        list-style: none;
        @media all and (max-width: 1239px) {
            display: flex;
            flex-direction: column;
            & > li {
                display: block;
                & > a {
                    display: block;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 1;
                    padding: 18px 10px 19px 8px;
                    font-weight: 600;
                    color: $color1;
                }
                & + li {
                    border-top: 1px solid #c4c4c4;
                }
                &:hover > a {
                    text-decoration: underline;
                }
            }
        }
        @media all and (max-width: 480px) {
            right: 8px;
        }
    }
    &__menu {
        margin: 0 auto 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        min-width: 390px;
        & > li {
            padding: 0 0 0 3px;
            & > a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                line-height: 1;
                padding: 5px 8px;
            }
            &:hover > a {
                text-decoration: underline;
            }
        }
        @media all and (max-width: 1239px) {
            display: none;
        }
    }
    &__schedule {
        color: #a0a3bd;
        font-size: 12px;
        margin: 0 0 0 auto;
        @media all and (max-width: 1239px) {
            display: none;
        }
    }
    &__phones {
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 0 10px;
        color: #fff;
        a {
            margin-left: 5px;
            color: #fff;
            text-decoration: none;
        }
        @media all and (max-width: 1239px) {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background: #eeeeee;
            text-align: center;
            color: #000;
            margin-left: 0;
            padding: 5px 0 6px;
            a {
                color: #000;
            }
        }
    }
    &__email {
        font-size: 14px;
        margin-left: 15px;
        a {
            color: #fff;
            text-decoration: none;
        }
        @media all and (max-width: 1239px) {
            display: none;
        }
    }
}
