@charset 'utf-8';

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    &__inner {
        max-width: $containerWidth;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    &__logo {
        display: flex;
        align-items: center;
        min-width: 280px;
        max-width: 280px;
        margin-right: 25px;
        font-size: 0;
        text-decoration: none;
        img {
            margin-right: 2px;
        }
        &--text {
            font-size: 19px;
            line-height: 23px;
            font-weight: 600;
            color: #fff;
        }
    }
    &__right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    &__top {
        background: $color1;
        display: flex;
        padding: 8px 0;
        margin-bottom: 11px;
    }
    &__bottom {
        display: flex;
        align-items: center;
    }
    &__categories {
        margin: 0 auto 0 0;
        padding: 0 0 0 4px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        & > li {
            margin-right: 4px;
            & > a {
                text-decoration: none;
                color: #fff;
                padding: 16px 18px;
                font-size: 16px;
                line-height: 1;
                position: relative;
                display: block;
                transition: 0.2s;
                &:before {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    content: '';
                    width: 11px;
                    background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.1257 5.47064C4.7254 5.99064 3.94119 5.99064 3.54089 5.47063L0.953864 2.10999C0.447668 1.45242 0.916433 0.499999 1.74627 0.499999L6.92032 0.5C7.75016 0.5 8.21892 1.45242 7.71272 2.10999L5.1257 5.47064Z' fill='white' fill-opacity='0.33'/%3E%3C/svg%3E%0A")
                        0 50% no-repeat;
                }
            }
            &:hover > a {
                color: #a0a3bd;
            }
            & > *[href]:last-child:before {
                display: none;
            }
        }
    }
    &__search {
        display: flex;
        margin: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.14);
        border-right: 1px solid rgba(255, 255, 255, 0.14);
        min-width: 211px;
        max-width: 211px;
        justify-content: flex-end;
        transition: 0.2s;
        position: relative;
        &:before {
            border-left: transparent;
            border-right: transparent;
        }
        &:hover {
            input[type='text'] {
                background: #fff;
                color: #000;
                min-width: 325px;
                max-width: 325px;
                &::placeholder {
                    color: #000;
                }
            }
            button[type='reset'] {
                background: #fff;
                min-width: 35px;
                max-width: 35px;
                padding: 10px;
            }
            button[type='submit'] {
                background: #fff;
                padding: 0;
                &:before {
                    border-color: #eaeaea;
                }
                svg {
                    stroke: #14142a;
                }
            }
        }
        input[type='text'] {
            border: none;
            outline: none;
            background: none;
            padding: 0 10px 0 19px;
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 14px;
            color: #d4d4d450;
            transition: 0.2s;
            min-width: 166px;
            max-width: 166px;
            &::placeholder {
                color: #d4d4d450;
            }
            &:focus {
                background: #fff;
                color: #000;
                min-width: 325px;
                max-width: 325px;
                &::placeholder {
                    color: #000;
                }
                & ~ button[type='reset'] {
                    background: #fff;
                    min-width: 35px;
                    max-width: 35px;
                    padding: 10px;
                }
                & ~ button[type='submit'] {
                    background: #fff;
                    padding: 0;
                    &:before {
                        border-color: #eaeaea;
                    }
                    svg {
                        stroke: #14142a;
                    }
                }
            }
        }
        button[type='reset'] {
            background: none;
            border: none;
            outline: none;
            padding: 0;
            min-width: 0;
            max-width: 0;
            overflow: hidden;
            transition: 0.2s;
            cursor: pointer;
            svg {
                stroke: #a0a3bd;
            }
        }
        button[type='submit'] {
            background: none;
            border: none;
            outline: none;
            padding: 0 10px 0 0;
            transition: 0.2s;
            min-width: 44px;
            max-width: 44px;
            position: relative;
            cursor: pointer;
            &:before {
                position: absolute;
                left: 0;
                top: 7px;
                bottom: 7px;
                content: '';
                border-left: 1px solid transparent;
                transition: 0.2s;
            }
            svg {
                transition: 0.2s;
                stroke: #fcfcfc;
            }
        }
    }
    &__compare {
        min-width: 66px;
        max-width: 66px;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        text-decoration: none;
        .text {
            position: absolute;
            top: 0;
            left: 50%;
            border-radius: 18px;
            transition: 0.2s;
            text-align: center;
            font-weight: 600;
            width: 24px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            color: #000;
            background: #fff;
        }
        svg {
            stroke: #fff;
            transition: 0.2s;
        }
        &:hover {
            .text {
                background: #a0a3bd;
            }
            svg {
                stroke: #a0a3bd;
            }
        }
    }
    &__menu {
        margin: 0 auto 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        min-width: 390px;
        & > li {
            padding: 0 0 0 3px;
            & > a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                line-height: 1;
                padding: 5px;
            }
            &:hover > a {
                text-decoration: underline;
            }
        }
    }
    &__schedule {
        color: #a0a3bd;
        font-size: 12px;
        margin: 0 0 0 auto;
    }
    &__phones {
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 0 10px;
        color: #fff;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    &__email {
        font-size: 14px;
        margin-left: 13px;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
