@charset 'utf-8';

@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    src: url('../fonts/ProximaNova-Light.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/ProximaNova-LightIt.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    font-style: italic;
    src: url('../fonts/ProximaNova-RegularIt.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;
    src: url('../fonts/ProximaNova-Semibold.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/ProximaNova-SemiboldIt.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;
    src: url('../fonts/ProximaNova-Bold.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/ProximaNova-BoldIt.ttf');
    font-display: swap;
}

$proxima: 'ProximaNova', sans-serif;

$accent: orange;
$fontsize: 16px;
$textcolor: #000;
$lineheight: 1.625;
$userfont: $proxima;

$color1: #37283c;
$color2: #a0a3bd;
$color3: #c4c4c4;

$containerWidth: 1200px;
